name: Builder (Self-hosted x86_64)

on:
  workflow_dispatch:
    inputs:
      pkgbase:
        description: 'Path to pkgbase'
        required: true

jobs:

  build:
    runs-on: X64
    timeout-minutes: 4320
    container:
      image: archlinux
      options: --privileged --memory-swap -1 --memory-swappiness 100
      volumes:
        - /build:/mnt
        - /build:/var/cache/pacman
    env:
      CACTUS_CONFIG: ${{ secrets.CACTUS_CONFIG }}

    steps:
      - name: Install runtime dependencies
        run: |
          mkdir -p /mnt/sync /var/lib/pacman
          rm -rf /var/lib/pacman/sync
          ln -sf /mnt/sync /var/lib/pacman/sync
          [ -f /mnt/mirrorlist ] && cp /mnt/mirrorlist /etc/pacman.d/
          pacman -Syu --noconfirm
          pacman -S --noconfirm --needed base-devel devtools dbus git github-cli jq wget pyalpm python-mysqlclient yq zsh

      - uses: arch4edu/cactus/actions/setup-cactus@main

      - name: Export configurations
        id: config
        run: python -m cactus.common.config

      - name: Update status
        run: python -m cactus.builder.update ${{ github.event.inputs.pkgbase }} building ${{ github.run_id}}

      - uses: actions/checkout@master
        with:
          repository: ${{ steps.config.outputs.github_repository }}
          path: repository
          token: ${{ steps.config.outputs.github_token }}

      - uses: arch4edu/cactus/actions/config-pacman-repository@main
        with:
          pacman-repository: ${{ steps.config.outputs.pacman_repository }}
          keyring-repository: ${{ steps.config.outputs.pacman_keyring_repository }}
          mirrorlist-repository: ${{ steps.config.outputs.pacman_mirrorlist_repository }}

      - uses: arch4edu/cactus/actions/config-pacman-repository@main

      - uses: petronny/git-config-user@master
        with:
          path: repository

      - name: Configure GitHub CLI
        run: echo ${{ steps.config.outputs.github_token }} | gh auth login --with-token

      - name: Add path
        run: echo "$(realpath cactus/builder/bin)" >> $GITHUB_PATH

      - name: Download dependencies
        run:
          python -m cactus.builder.download-depends repository ${{ github.event.inputs.pkgbase }}

      - name: Build
        id: build
        run: |
          chown -R makepkg:root makepkg
          cd repository/${{ github.event.inputs.pkgbase }}
          su makepkg -c cactus-build | tee build.log
          if [ $(grep -c '==> Running checkpkg' build.log) -gt 0 ]
          then
            echo ::set-output name=result::built
          else
            echo ::set-output name=result::error
          fi

      - name: Fix package name
        if: ${{ steps.build.outputs.result == 'built' }}
        run: |
          cd repository/${{ github.event.inputs.pkgbase }}
          for i in *.pkg.tar.zst
          do
            [ $(echo $i | grep : -c) -gt 0 ] && mv $i $(echo $i | sed 's/:/COLON/g') || continue
          done

      - name: Upload build log
        uses: actions/upload-artifact@master
        if: ${{ always() }}
        with:
          name: ${{ github.run_id }}.log
          path: repository/${{ github.event.inputs.pkgbase }}/build.log

      - name: Upload package
        uses: actions/upload-artifact@master
        with:
          name: ${{ github.run_id }}.package
          path: repository/${{ github.event.inputs.pkgbase }}/*.pkg.tar.zst

      - name: Push changes
        if: ${{ steps.build.outputs.result == 'built' }}
        run: |
          cd repository/${{ github.event.inputs.pkgbase }}
          git-push

      - name: Update status
        if: ${{ always() }}
        run: |
          if [ "${{ steps.build.outputs.result }}" = "built" ]
          then
            python -m cactus.builder.update ${{ github.event.inputs.pkgbase }} built ${{ github.run_id}}
          else
            python -m cactus.builder.update ${{ github.event.inputs.pkgbase }} error ${{ github.run_id}}
          fi

      - uses: arch4edu/cactus/actions/clean@main
