name: Publisher

on:
  schedule:
    - cron: '5 * * * *'
  workflow_dispatch:

concurrency: publisher

jobs:

  publish:
    runs-on: ubuntu-latest
    container:
      image: archlinux
      options: --device /dev/fuse --cap-add SYS_ADMIN --security-opt apparmor:unconfined
    env:
      CACTUS_CONFIG: ${{ secrets.CACTUS_CONFIG }}

    steps:
      - name: Get time
        id: time
        run: echo "::set-output name=time::$(date +%F-%T)"

      - name: Set up pacman db cache
        uses: actions/cache@master
        with:
          path: /var/lib/pacman/sync
          key: pacman-db-x86_64-${{ steps.time.outputs.time }}
          restore-keys: pacman-db-x86_64-

      - name: Set up pacman package cache
        uses: actions/cache@master
        with:
          path: /var/cache/pacman/pkg
          key: pacman-package-x86_64-${{ steps.time.outputs.time }}
          restore-keys: pacman-package-x86_64-

      - name: Install runtime dependencies
        run: |
          pacman -Syu --noconfirm
          pacman -S --noconfirm --needed git github-cli openssh python-django python-mysqlclient python-pygithub python-tornado python-yaml rsync

      - uses: actions/checkout@master
        with:
          path: cactus

      - uses: actions/checkout@master
        with:
          repository: petronny/djangorm
          path: djangorm

      - name: Export config
        id: config
        run: |
          python -m cactus.common.config

      - name: Export publisher config and keys
        id: publisher_config
        run: |
          echo -n "${{ secrets.CACTUS_PUBLISHER_GPG_KEY }}" | base64 -d > gpg.key
          echo "${{ secrets.CACTUS_PUBLISHER_SSH_KEY }}" | install -Dm400 /dev/stdin /root/.ssh/ssh_key
          gpg --import gpg.key
          python -m cactus.publisher.config

      - name: Configure GitHub CLI
        run: echo ${{ steps.config.outputs.github_token }} | gh auth login --with-token

      - uses: actions/checkout@master
        with:
          repository: ${{ steps.config.outputs.github_pages_repository }}
          path: pages
          token: ${{ steps.config.outputs.github_token }}

      - name: Publish pacakges
        env:
          REMOTE_PATH: ${{ steps.publisher_config.outputs.path }}
        run:
          python -m cactus.publisher.publish

      - name: Configure pages
        run: |
          git config --global --add safe.directory $(realpath pages)
          cd pages
          git config user.email ${{ steps.config.outputs.email_address }}
          git config user.name ${{ steps.config.outputs.email_name }}

      - name: Update pages
        run: |
          python -m cactus.publisher.update-pages
          cd pages
          git add index.md
          git commit -m "[$(date)] auto update" || exit 0
          git push
