name: Publisher

on:
  schedule:
    - cron: '17 6,18 * * *'
  workflow_dispatch:

concurrency: publisher

jobs:

  publish:
    runs-on: ubuntu-latest
    container:
      image: archlinux
      options: --device /dev/fuse --cap-add SYS_ADMIN --security-opt apparmor:unconfined
    env:
      CACTUS_CONFIG: ${{ secrets.CACTUS_CONFIG }}

    steps:
      - uses: arch4edu/cactus/actions/upgrade-archlinux@main

      - name: Install runtime dependencies
        run: pacman -S --noconfirm --needed git github-cli openssh python-django python-mysqlclient python-pygithub python-tornado python-yaml rsync

      - uses: actions/checkout@master
        with:
          path: cactus

      - uses: actions/checkout@master
        with:
          repository: petronny/djangorm
          path: djangorm

      - name: Export config
        id: config
        run: |
          python -m cactus.common.config

      - name: Export publisher config and keys
        id: publisher_config
        run: |
          echo -n "${{ secrets.CACTUS_PUBLISHER_GPG_KEY }}" | base64 -d > gpg.key
          echo "${{ secrets.CACTUS_PUBLISHER_SSH_KEY }}" | install -Dm400 /dev/stdin /root/.ssh/ssh_key
          gpg --import gpg.key
          python -m cactus.publisher.config

      - name: Configure GitHub CLI
        run: echo ${{ steps.config.outputs.github_token }} | gh auth login --with-token

      - uses: actions/checkout@master
        with:
          repository: ${{ steps.config.outputs.github_pages_repository }}
          path: pages
          token: ${{ steps.config.outputs.github_token }}

      - name: Publish pacakges
        env:
          REMOTE_PATH: ${{ steps.publisher_config.outputs.path }}
        run:
          python -m cactus.publisher.publish
