name: Publisher

on:
  schedule:
    - cron: '5 * * * *'
  workflow_dispatch:

jobs:

  publish:
    runs-on: ubuntu-latest
    container:
      image: archlinux
      options: --device /dev/fuse --cap-add SYS_ADMIN --security-opt apparmor:unconfined
    env:
      CACTUS_CONFIG: ${{ secrets.CACTUS_CONFIG }}

    steps:
      - name: Get time
        id: time
        run: echo "::set-output name=time::$(date +%F-%T)"

      - name: Set up pacman db cache
        uses: actions/cache@master
        with:
          path: /var/lib/pacman/sync
          key: pacman-db-x86_64-${{ steps.time.outputs.time }}
          restore-keys: pacman-db-x86_64-

      - name: Set up pacman package cache
        uses: actions/cache@master
        with:
          path: /var/cache/pacman/pkg
          key: pacman-package-x86_64-${{ steps.time.outputs.time }}
          restore-keys: pacman-package-x86_64-

      - name: Install runtime dependencies
        run: |
          pacman -Syu --noconfirm
          pacman -S --noconfirm --needed git github-cli python-django python-mysqlclient python-pygithub python-tornado python-yaml sshfs rsync

      - uses: actions/checkout@master
        with:
          path: cactus

      - uses: actions/checkout@master
        with:
          repository: petronny/djangorm
          path: djangorm

      - name: Export config
        id: config
        run: |
          python -m cactus.common.config

      - uses: actions/checkout@master
        with:
          repository: ${{ steps.config.outputs.github_pages_repository }}
          path: pages
          token: ${{ steps.config.outputs.github_token }}

      - name: Configure git
        run: |
          git config --global --add safe.directory $(realpath pages)
          cd pages
          git config user.email ${{ steps.config.outputs.email_address }}
          git config user.name ${{ steps.config.outputs.email_name }}

      - name: Update pages
        run: |
          python -m cactus.publisher.update-pages
          cd pages
          git add index.md || exit 0
          git commit -m "[$(date)] auto update"
          git push -f
