name: Scheduler

on:
  workflow_dispatch:

jobs:

  schedule:
    runs-on: ubuntu-latest
    container:
      image: archlinux
    env:
      CACTUS_CONFIG: ${{ secrets.CACTUS_CONFIG }}

    steps:
      - uses: arch4edu/cactus/actions/upgrade-archlinux@main

      - name: Install runtime dependencies
        run: pacman -S --noconfirm --needed git python-mysqlclient

      - uses: arch4edu/cactus/actions/setup-cactus@main

      - uses: arch4edu/cactus/actions/checkout-repository@main

      - name: Scheduling
        run: |
          for i in $(seq 60)
          do
            (cd repository; git pull --rebase)
            python -m cactus.scheduler.schedule repository
            sleep 300
          done

      - name: Start a new scheduler
        #if: ${{ always() }}
        run: python -m cactus.scheduler.refresh
